.tasks {
    width: 46rem;
    height: 17.9375rem;

    display: flex;
    flex-direction: column;
}

.tasks p {
    font-weight: bold;
    color: var(--blue);
    font-size: 14px;

}

.tasks .concluidas {
    font-weight: bold;
    color: var(--purple);
    font-size: 14px;
}

.tasks .cont {
    margin-left: 5px;
    border: 1px solid var(--gray-400);
    border-radius: 100%;
    background: var(--gray-400);
    width: 250px;
    height: 190px;
    font-size: 12px;
    padding: 2px 8px;
    color: var(--gray-200);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

}

.taskList {
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    padding-top: 4.375rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.taskList img {
    height: 3.5rem;
    width: 3.5rem;
}

.taskList p {
    font-size: 16px;
    color: var(--gray-300);
}

.taskList span {
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-300);
}